/*titulo*/
body{
    background-image: url(imagenes/snake-game-loading-screen-9po4zuz368r8u1cg.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
}

/*PARA PROBAR EL TAMAÑO DE UN DIV*/

div .tituloSnake{  
    padding: 0.3em 0 0 0;
    text-align: center;
    font-size: 4em;
    font-family: "Workbench", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
    "BLED" 0,
    "SCAN" 0;
    transition: transform 0.3s ease
}

div .tituloSnake:hover{
    transform: scale(1.1);
    transition: transform 0.3s ease
}

/*cuerpo de juego*/
.juegoPlantilla{
    padding: 5% 0 0 0;
}

.juego{
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 30px;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 60%;
}

/* BOTON START*/

.cuerpoBoton{
    padding: 1% 0 0 0;
}

.botonStart{
    background-color: transparent;
    color: white;
    font-family: "Workbench", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    text-decoration: underline;
    font-variation-settings:
    "BLED" 0,
    "SCAN" 0;
    height: 80%;
    padding: 0.4em 3em;
    font-size: 2.3em;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border: none;
    border-radius: 10px;
    transition: background-color 0.3s;
}

.botonStart:hover{
    background-color: rgb(166, 182, 26);
    color: black;
    text-decoration: none;
    transition-duration: 0.6s;
}